<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ view.url().get() }}">
      <img class="navbar-band-logo" src="{{ params['logo_contrast'] }}">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
    {% if root.getDepth() == 0 %}
      {% for level1 in root.getChildren() %}
          <a class="{{ level1.get('active') ? 'is-active' }} navbar-item" href="{{ level1.link }}">{{ level1.title }} </a>
      {% endfor %}
    {% endif %}
  </div>
</div>
</nav>
