<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ view.render('head') | raw }}
        <!-- STYLE -->
        {{ view.style('theme', 'assets:css/style.default.css') }}
        <!-- SCRIPT -->
        {{ view.script('default', 'assets:js/app.default.js') }}

    </head>
    <body>
        <!-- Render menu position -->
        {% if view.menu().exists('main') %}
            {{ view.menu('main', 'layout/header.twig') | raw }}
        {% endif %}

        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">{{ view.render('content')|raw }}</div>
            </div>
        </main>
    </body>
</html>
