<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ view.render('head') | raw }}
        <!-- STYLE -->
        {{ view.style('theme', 'assets:css/style.default.css') }}
        {% if params['sticky-footer'] %}
            {{ view.style('sticky', 'assets:css/style.sticky-footer.css') }}
        {% endif %}
        {{ view.script('jquery') }}
        {{ view.script('defailt', 'assets:js/app.default.js') }}

    </head>
    <body>
        <!-- Render menu position -->
        {% if view.menu().exists('main') %}
            {{ view.menu('main', 'layout/header.twig') | raw }}
        {% endif %}

        <main class="container">
            <div class="row">
                {{ view.render('content')|raw }}
            </div>
        </main>

        <pre>
          {{ params['atn'] }}
        </pre>

        {% include 'views:/layout/footer.twig' %}
    </body>
</html>
